{% extends "base.html" %}
{% block content %}
  <h1>Edit drink</h1>

  <form role="form" action="{{base_path}}/drink/{{attributes.drink_id}}/edit?" method="POST">

    <div class="form-group">
      <label>Edit Name</label>
      <input type="text" class="form-control" name="drink_name" value="{{attributes.drink_name}}">
    </div>

    <div class="form-group">
      <label>Type of drink</label>
      <select name="drink_type" class="form-control">
        {% for drink_type in drink_types%}
        <option value="{{drink_type.drink_type_id}}">{{drink_type.drink_type_name}}</option>
        {% endfor %}
      </select>
    </div>


    <div class="form-group">
      <label>Edit ingredients</label>
      {% for drink_ingredient in drink_ingredients %}
      <div id="fields" class="form-inline">
        <input class="form-control"  type='text' placeholder="Amount" name='amounts[]' value="{{drink_ingredient.amount}}"/> 
        <input class="form-control" type='text' placeholder="Unit (in cl, dl, etc...)" name='units[]' value="{{drink_ingredient.unit}}"/> 
        <input class="form-control" type="text"  placeholder="Ingredient" name="ingredients[]"value="{{drink_ingredient.getIngredientName()}}"/>
        <input type="hidden" name="ingredient_id[]" value="{{drink_ingredient.getIngredient_id()}}"/>
      </div>
      {% endfor %}
    </div>

    <div class="form-group">
      <label>Modify preparation instructions</label>
      <textarea class="form-control" name="instructions">{{attributes.instructions}}
      </textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>        
      <a href="{{base_path}}/drink"><button type="button" class="btn btn-default">Cancel</button></a>
    </div>

  </form>

{% endblock %}