{% extends "base.html" %}
{% block content %}

<div class="alert alert-success">
  {{message}}
</div>

  <h1>Your favorite drinks</h1>

    <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for favorite in favorites %}
                <tr>
                    <td><a href="{{base_path}}/drink/{{favorite.drink_id}}">{{favorite.drink_name}}</a></td>
                    <form method="post" action="{{base_path}}/favorites/{{favorite.drink_id}}/destroy" style="display: inline-block;">
                    <th><button type="submit" class="btn btn-danger">Delete from favorites</button></th>
                    </form>
                </tr>                        
            {% endfor %}
        </tbody>             
    </table>
</div>
{% endblock %}