{% extends "base.html" %}
{% block content %}

<div class="alert alert-success">
  {{message}}
</div>

  <h1>{{drink.drink_name}}</h1>
  <h3>Ingredients</h3>
  {% for drink_ingredient in drink_ingredients %}
  <ul>
  <li>{{drink_ingredient.amount}} {{drink_ingredient.unit}} {{drink_ingredient.getIngredientName()}}</li>
</ul>
{% endfor %}
  <h3>Preparation</h3>
  <p>{{drink.instructions}}</p>
  {% if user_logged_in_admin %}
  <form method="post" action="{{base_path}}/drink/{{drink.drink_id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Delete drink</button>
  </form>
  <form method="get" action="{{base_path}}/drink/{{drink.drink_id}}/edit" style="display: inline-block;">
    <button type="submit" class="btn btn-primary">Edit drink</button>
  </form>
  {% endif %}
{% endblock %}