{% extends "base.html" %}
{% block content %}

<div class="alert alert-success">
  {{message}}
</div>

  <h1>Edit {{user.username}}</h1>
  {% if admin == TRUE %}
  <p>This user is an ADMIN</p>
  {% endif %}
  <p>{{user.username}} was last seen {{user.getLast_login()}}</p>
  <div>
  <h3>Drinks that this user has added:</h3>
  {% for drink in drinks %}
      <tr>
        <td><a href="{{base_path}}/drink/{{drink.drink_id}}">{{drink.drink_name}}</a></td>
        <td>{{drink.time_added}}</td>
      </tr>
      {% endfor %}
  </div>

  {% if user_logged_in_admin and admin == FALSE %}
  <form method="post" action="{{base_path}}/users/{{user.user_id}}/edit?" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Promote to ADMIN</button>
  </form>
  {% endif %}

{% endblock %}